Agente_Alternativo.json
{
  "name": "PerguntasCSVVersãoFinalV2",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Sou seu assistente de consulta sobre informações fiscais e financeiras sobre as NFs fornecidas, em que posso ajudar?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -900,
        -40
      ],
      "id": "68e8dc63-26bc-49fc-9b70-5d9fa29a2810",
      "name": "When chat message received",
      "webhookId": "18c7fb08-4578-4945-8377-c02f544a6be6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0896c516-c3b0-4ef8-bb54-a997a48105fa",
              "name": "IdConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "0cedba29-2dbd-465c-b220-bcb90df37b5e",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        -40
      ],
      "id": "cc6069ca-dc4c-4e7a-9c76-47f5f2ffe886",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um agente especialista em Notas Fiscais Eletrônicas (NF-e) com amplo conhecimento técnico, fiscal e normativo. Seu objetivo é analisar dados fiscais fornecidos no node anterior (input).\n\nSua principal tarefa é responder perguntas analíticas e descritivas sobre os dados fornecidos, como: quantidade total de notas fiscais, soma total de valores de notas, número de itens em determinada nota, identificação das maiores notas fiscais emitidas e listagem dos produtos mais comuns. Sempre que possível, apresente as respostas em forma de tabela, lista ou resumo numérico, conforme for mais adequado. Dê uma repostas sucinta e direta.\nSua principal tarefa é responder perguntas analíticas e descritivas sobre os dados dos datasets, como: quantidade total de notas fiscais, soma total de valores de notas, número de itens em determinada nota, identificação das maiores notas fiscais emitidas e listagem dos produtos mais comuns. Sempre que possível, apresente as respostas em forma de tabela, lista ou resumo numérico, conforme for mais adequado. Dê respostas precisas e sucintas. Use a ferramenta Calculadora pra fazer operações matemáticas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        120,
        -40
      ],
      "id": "4931dcd0-08eb-41f1-b62c-e4207d9f192b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        120,
        160
      ],
      "id": "469224f1-8e06-4847-a5c8-3740c5ba8880",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "AG5JWyQ1v65DkZDD",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        -40
      ],
      "id": "7a993135-93bd-4017-b25a-c391d5d953d2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NNzpEuhkAvoUONo1t34mHO1EgneUthdsI9beT7-gPMg",
          "mode": "list",
          "cachedResultName": "RespostaAgentePerguntasCSVNFs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNzpEuhkAvoUONo1t34mHO1EgneUthdsI9beT7-gPMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Perguntas_Respostas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NNzpEuhkAvoUONo1t34mHO1EgneUthdsI9beT7-gPMg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdCoversa": "={{ $('Edit Fields').item.json.IdConversa }}",
            "Mensagem": "={{ $('Edit Fields').item.json.Mensagem }}",
            "Resposta Agente": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdCoversa",
              "displayName": "IdCoversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resposta Agente",
              "displayName": "Resposta Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        -40
      ],
      "id": "21c90f15-6c14-4a6e-8987-bad091c1194f",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AXInG2zb6QWyqMHv",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16QMC1h1JQJ9P1w-Nbbv5MoHHBp-c3dVw",
          "mode": "list",
          "cachedResultName": "202401_NFs.zip",
          "cachedResultUrl": "https://drive.google.com/file/d/16QMC1h1JQJ9P1w-Nbbv5MoHHBp-c3dVw/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -580,
        -40
      ],
      "id": "a50ead86-d4d0-492b-8e87-d84ef87d5761",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4ED4LPPtM7FxjtLO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -400,
        -40
      ],
      "id": "d645a8e6-fa87-409a-aafb-1888f3689730",
      "name": "Compression"
    },
    {
      "parameters": {
        "binaryPropertyName": "=file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        -100
      ],
      "id": "4ac9d116-bf93-4399-8f6a-019ea8fea87c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "binaryPropertyName": "file_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        60
      ],
      "id": "9a03e726-7bd4-40a2-86b2-9a269b2c3625",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['CHAVE DE ACESSO']",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -40,
        60
      ],
      "id": "5491ee46-a1cb-458a-b724-171321f05a2d",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.Mensagem }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        160
      ],
      "id": "b0fa4d57-1333-4720-ba1c-c70ce8085ef5",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        360,
        160
      ],
      "id": "681751f0-f2ba-4692-b74a-c25188e5facf",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83ed043d-7768-4212-ac9b-c2f417d88517",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c89a4a2053379b70a994f928dc4312f69fb88d473e33d10e6db102c54af113da"
  },
  "id": "EUJDyNzVSNrJeJHa",
  "tags": []
}